annotated_n8n_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "1d03a317-9001-45e8-bd11-24c427367fbb",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -200,
        160
      ]
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "app2ssjcEHeWNYDxk",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblRDOJZMhX7CoJrq",
          "mode": "id"
        },
        "returnAll": false,
        "limit": 10,
        "additionalOptions": {}
      },
      "id": "09f528c8-2d5b-4355-aedb-4ec536879047",
      "name": "Airtable - Get TBC Leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        0,
        160
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "VGS7RvNv9oE7tq9w",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {},
      "id": "e4a4921a-ec68-4c2c-a6be-e0ddb8dd9802",
      "name": "No Operation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1a07b64d-9266-4537-b9f0-b27769646650",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        200,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"records\"].length }}",
              "value2": "0"
            }
          ]
        }
      },
      "id": "36bc2971-9bd2-414e-a0a0-70d077aef6e2",
      "name": "IF - Records Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "url": "=https://api.vapi.ai/call",
        "options": {}
      },
      "id": "9b55551e-3f2c-4ff4-ae6a-aec84ec223b0",
      "name": "Vapi - Make Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        400,
        160
      ]
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "update",
        "application": {
          "__rl": true,
          "value": "app2ssjcEHeWNYDxk",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblRDOJZMhX7CoJrq",
          "mode": "id"
        },
        "id": "={{ $json[\"id\"] }}",
        "options": {}
      },
      "id": "46ed8479-3e16-4abe-b026-33f0f085f473",
      "name": "Airtable - Update to In-Progress",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        600,
        160
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "VGS7RvNv9oE7tq9w",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "call-webhook",
        "options": {}
      },
      "id": "7973353e-326d-4ac7-aaa8-2af4820f0024",
      "name": "Webhook - Call Results",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -200,
        460
      ],
      "webhookId": "call-results-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.status }}",
              "value2": "completed"
            }
          ]
        }
      },
      "id": "f1c40bf3-2836-4ace-8df6-8ad01e200062",
      "name": "IF - Call Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        0,
        460
      ]
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "update",
        "application": {
          "__rl": true,
          "value": "app2ssjcEHeWNYDxk",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblRDOJZMhX7CoJrq",
          "mode": "id"
        },
        "id": "={{ $json.body.metadata.contact_id }}",
        "options": {}
      },
      "id": "eb29a7fb-014f-4f17-82f3-bda7c596909a",
      "name": "Airtable - Update Called",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        200,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "VGS7RvNv9oE7tq9w",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "app2ssjcEHeWNYDxk",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblivPxf4entbobO4",
          "mode": "id"
        },
        "additionalOptions": {}
      },
      "id": "c3ecc29a-cbb1-4d64-b174-85cf54242545",
      "name": "Airtable - Create Call Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        400,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "VGS7RvNv9oE7tq9w",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.status }}",
              "value2": "failed"
            }
          ]
        }
      },
      "id": "0d8a0519-4210-4ff2-b988-6941b03dafa2",
      "name": "IF - Call Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Airtable - Get Failed Lead\"].json[\"Attempt\"] }}",
              "operation": "larger",
              "value2": 2
            }
          ]
        }
      },
      "id": "be062f03-3a0b-4e0f-a047-cc4c02436e73",
      "name": "IF - More Than 2 Attempts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        540
      ]
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "app2ssjcEHeWNYDxk",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblRDOJZMhX7CoJrq",
          "mode": "id"
        },
        "additionalOptions": {}
      },
      "id": "fc7314e6-30f0-4912-8435-43ba3d787e69",
      "name": "Airtable - Get Failed Lead",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        420,
        600
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "VGS7RvNv9oE7tq9w",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "update",
        "application": {
          "__rl": true,
          "value": "app2ssjcEHeWNYDxk",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblRDOJZMhX7CoJrq",
          "mode": "id"
        },
        "id": "={{ $json.body.metadata.contact_id }}",
        "options": {}
      },
      "id": "9dd94160-bf00-438e-b10c-6a944639e7a2",
      "name": "Airtable - Mark as Failed",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        820,
        420
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "VGS7RvNv9oE7tq9w",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "update",
        "application": {
          "__rl": true,
          "value": "app2ssjcEHeWNYDxk",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblRDOJZMhX7CoJrq",
          "mode": "id"
        },
        "id": "={{ $json.body.metadata.contact_id }}",
        "options": {}
      },
      "id": "2d8b8140-37fe-4a12-968d-084f41954246",
      "name": "Airtable - Schedule Retry",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        800,
        640
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "VGS7RvNv9oE7tq9w",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Airtable - Get TBC Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Get TBC Leads": {
      "main": [
        [
          {
            "node": "IF - Records Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Vapi - Make Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Records Found": {
      "main": [
        [
          {
            "node": "No Operation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vapi - Make Call": {
      "main": [
        [
          {
            "node": "Airtable - Update to In-Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Call Results": {
      "main": [
        [
          {
            "node": "IF - Call Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Call Status": {
      "main": [
        [
          {
            "node": "Airtable - Update Called",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Call Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Update Called": {
      "main": [
        [
          {
            "node": "Airtable - Create Call Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Call Failed": {
      "main": [
        [
          {
            "node": "Airtable - Get Failed Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Get Failed Lead": {
      "main": [
        [
          {
            "node": "IF - More Than 2 Attempts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - More Than 2 Attempts": {
      "main": [
        [
          {
            "node": "Airtable - Mark as Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable - Schedule Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9a7336b3-0745-4a27-9263-27fb4f0278ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c53546488684e04c869967713b68505c2c02aa7d5cf5abf2be6c662bfa7f6f11"
  },
  "id": "fp39BsctZo0yQWRU",
  "tags": []
}
